bitsandbytes==0.46.0
chromadb==1.0.12
dataclasses-json==0.6.7
datasets==3.6.0
fastapi==0.115.9
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
opentelemetry-instrumentation-fastapi==0.55b1
orjson==3.10.18
pandas==2.3.0
peft==0.15.2
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
sentence-transformers==4.1.0
tqdm==4.67.1
transformers==4.52.4
uvicorn==0.34.3
starlette==0.45.3
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-text-splitters==0.3.8
langsmith==0.3.45
huggingface-hub==0.32.4